<html>
    <head>
        <title>
            <!-- <%= title %> -->
            To-DO APP
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>

        <%- body %> 
        
      <%- script %>
    </body>
</html>